.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItem {
  padding: 10px;
}

.dialogsItem a.active {
  color: #d40000;
  font-size: large;
  font-weight: 500;
}

.messages {
  padding: 10px;
}

.message {
}

a {
  text-decoration: none;
  color: #0048ba;
}
